.header {
  padding: $mobile-header-padding;

  &__welcome {
    text-align: center;
  }

  .paragraph {
    margin-bottom: 2.8rem;
  }
}

.header__hero-img {
  max-width: 17.5rem;
  width: 100%;
  box-shadow: -0.3rem 1rem $color-light-blue;
  border-radius: 50%;
}

@include desktop {
  .header {
    padding: 0 12%;

    &__welcome {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 10%;
      grid-auto-flow: dense;
      justify-content: center;
      margin-top: 5%;

      .column-1 {
        grid-column: 1;
      }

      .column-2 {
        grid-column: 2;
      }
    }

    &__hero-img {
      max-width: 20vw;
      width: 100%;
      height: auto;
      justify-self: end;
    }

    &__text-box {
      text-align: start;

      .paragraph {
        margin-bottom: 3.8rem;
      }

      .btn {
        margin-bottom: 7rem;
      }
    }
  }
}
