.header {
  padding: $mobile-header-padding;

  .paragraph {
    margin-bottom: 2.8rem;
  }
}

.header__hero-img {
  max-width: 175px;
  width: 100%;
  box-shadow: -0.3rem 1rem $color-light-blue;
  border-radius: 50%;
}
