@keyframes smoothAppearance {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes smoothDisappearance {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-100%); } }

.disappearance-animation {
  animation-name: smoothDisappearance;
  animation-duration: 200ms;
  animation-fill-mode: forwards; }

.appearance-animation {
  animation-name: smoothAppearance;
  animation-duration: 400ms; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding-top: 8rem; }

html {
  font-size: 62.5%;
  font-family: "Heebo", sans-serif;
  color: #21243d; }

section {
  padding-top: 2.4rem; }

.heading-primary {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 2rem; }

.paragraph {
  font-size: 1.6rem; }

.heading-secondary {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  text-transform: capitalize; }

.hidden {
  display: none; }

.open {
  display: block; }

.btn {
  border: 0;
  padding: 1.6rem 5rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.2rem; }
  .btn--red {
    color: #fff;
    background-color: #ff6464; }

.post {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 2rem;
  margin: 1.8rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem #bbe1fa;
  cursor: pointer;
  transition: all 0.2s; }
  .post__date {
    padding-right: 2.4rem;
    border-right: 1px solid black;
    margin-right: 2.4rem; }
  .post__heading {
    font-size: 2.2rem;
    margin-bottom: 1.2rem; }
  .post__meta {
    margin-bottom: 2rem; }
  .post:active {
    scale: 0.95;
    box-shadow: 0 0.2rem 1rem #bbe1fa; }

.work {
  padding: 0 1.8rem 1.8rem 1.8rem;
  position: relative; }
  .work__img {
    margin: 0 auto;
    display: block;
    margin-bottom: 1.8rem; }
  .work__heading {
    font-size: 2.4rem;
    margin-bottom: 1.6rem; }
  .work__meta {
    margin-bottom: 2.4rem; }
  .work__date {
    color: #fff;
    border-radius: 1.6rem;
    background-color: #21243d;
    padding: 0.05rem 1rem;
    margin-right: 2rem;
    font-weight: 700; }
  .work__tags {
    color: #8695a4; }
  .work:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 90%;
    border-bottom: 1px solid #8695a4;
    transform: translate(-50%, -50%); }

.social {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin-bottom: 2.5rem; }

.footer {
  margin-bottom: 5.4rem; }
  .footer .footer__copyright {
    font-size: 1.4rem; }

.header {
  padding: 2rem 2rem 0 2rem; }
  .header__welcome {
    text-align: center; }
  .header .paragraph {
    margin-bottom: 2.8rem; }

.header__hero-img {
  max-width: 175px;
  width: 100%;
  box-shadow: -0.3rem 1rem #edf7fa;
  border-radius: 50%; }

@media (min-width: 992px) {
  .header__welcome {
    display: grid;
    grid-template-columns: repeat(2, 50rem);
    justify-content: center; } }

nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9900;
  overflow-y: scroll;
  background-color: #fff;
  transition: all 0.2s; }
  nav .nav-list {
    list-style: none;
    text-align: center;
    margin-top: 6.4rem; }
    nav .nav-list__item {
      display: block;
      font-size: 2rem;
      font-weight: 500;
      color: #21243d;
      text-decoration: none;
      margin-bottom: 1rem; }

.hamburger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 9999;
  font-size: 3.5rem;
  cursor: pointer;
  width: 100vw;
  height: 5rem;
  padding-right: 2rem; }
  .hamburger__container {
    display: block;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background-color: #fff; }

@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: flex-end; }
    nav .nav-list {
      display: flex;
      gap: 3.3rem;
      margin: 2.7rem 6rem;
      align-items: center; }
      nav .nav-list__item {
        display: inline-block;
        margin: 0; }
  .hamburger {
    display: none; }
    .hamburger__container {
      display: none;
      height: auto; } }

.header__hero-img {
  margin-bottom: 3.5rem; }

.btn {
  margin-bottom: 6rem; }

.recent-posts {
  background-color: #edf7fa;
  padding-bottom: 4rem; }

main {
  margin-bottom: 15rem; }
