// Colors

$color-primary: #ff6464;
$color-secondary: #00a8cc;
$color-dark: #21243d;
$color-light: #8695a4;
$color-white: #fff;
$color-light-blue: #edf7fa;
$color-blue: #bbe1fa;

// Layout

$mobile-header-padding: 2rem 2rem 0 2rem;
$mobile-main-padding: 0 1rem;
$mobile-social-item-gap: 3.5rem;

// Breakpoints

$breakpoint-medium: 768px; // Tablets
$breakpoint-large: 992px; // Desktop

// Font

$paragraph-font-size: 1.6rem;
$mobile-post-heading-font-size: 2.2rem;
$mobile-work-heading-font-size: 2.4rem;
