.heading-primary {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: $paragraph-font-size;
}

.heading-secondary {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
