.heading-primary {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 2rem;

  &_black {
    font-weight: 900;
    font-size: 3rem;
    padding: 0 1.8rem;
  }
}

.paragraph {
  font-size: $paragraph-font-size;
}

.heading-secondary {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}

.link {
  font-size: $paragraph-font-size;
  text-decoration: none;
  color: $color-secondary;
}

@include desktop {
  .heading-primary {
    font-size: 4.4rem;
    margin-bottom: 4rem;
    line-height: 1.5;

    &_black {
      padding: 0 12%;
    }
  }

  .heading-secondary {
    font-size: 2.2rem;
    text-align: start;
  }
}
